* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.buttons {
    display: block;
    margin: 0.75em auto;
}

.buttons button {
    font-size: 30px;
    margin-right: 0.5em;
    background-color: skyblue;
    border-color: darkblue;
    color: darkblue;
}

#diceContainer {
    background-color: royalblue;
    width: 100%;
    min-height: 100vh;
}

.dice {
    display: inline-block;
    margin: 0.5rem;
    text-align: center;
    font-size: 6em;
}